body {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0;
    padding: 0px;
    max-width: 1170px;
    margin:0 auto; 
    
  }
  /* .header {

  } */
  .nav {
    padding: 25px 0 0 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 16px;
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 10px 10px #949494;
    border-radius: 0 0 20px 20px;

  }
  .nav ul, .nav li {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  .nav li a {
      text-decoration: none;
      color: #fff;
      transition: 0.2s;
  }
  .nav li a:hover {
    color: #D5D5D5;
    font-size: 18px;
    text-decoration: underline;
}
.nav img {
    position: absolute;
    margin: 0;
    width: 100px;
    margin-top: -8px;
}
.nav ul {
    margin-left: 120px;
}
.contacts {
    display: flex;
    justify-content: space-around;
    background: rgb(154,154,154);
    background: linear-gradient(90deg, rgba(154,154,154,1) 0%, rgba(193,193,193,1) 37%, rgba(255,255,255,1) 100%);
    border-radius: 80px;
}
.contacts .avatar {
    width: 200px;
    height: 200px;
    border: 3px solid #888888;
    border-radius: 100px;
    box-shadow: 0px 10px 10px #949494;
    margin-top: 25px;

}
.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts img {
    width: 20px;
    margin-right: 10px;
}
.contacts ul, .contacts li {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 115px;
    margin-right: 100px;
    margin-top: 22px;
  }
  .contacts li a {
      display: flex;
      justify-content: flex-start;
      padding-left: 10px;
      margin-right: -15px;
      text-decoration: none;
      color: #353535;
      transition: 0.2s;
      font-size: 20px;
  }
  .contacts li a:hover {
    background: #FFF;
    opacity: 80%;
    border-radius: 10px;
    color: #000;
}